body {
    font-family: monospace;    
    text-align: center;
    background:  #101314;
    color: #525D62;
            
}

h1 {
   text-decoration: underline;
   margin: 40px 5px;
}
#img-div{
    width: auto;   
    margin: 20px 0px 0px 0px; 
    
}
img{
    width: 75%;
    margin: 30px 5px 0px 5px;

}